<tr>
  <td>{{full_name}}</td>
  <td>{{email}}</td>
  <td>{{city}}</td>
  <td>{{ride_in_groups}}</td>
  <td>{{daysOfWeek days_of_week}}</td>
  <td>{{registrationDate registration}}</td> 
  <td class="remove" data-id={{id}}>
    <i class="fa fa-trash-o" data-id={{id}}></i>
  </td>
</tr>